body{
    font-family: Arial, Helvetica, sans-serif;
    
}
section{
    position: relative;width: 100%;display: flex;
    justify-content: center;align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    width: 100%;display: flex;
    top: 0;justify-content: flex-end;
    padding: 20px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background-color:  rgb(10, 10, 233);
    color: aliceblue;
    border: none;outline: none;
    padding: 8px 14px;
    font-weight: bold;
    border-radius: 3px;cursor: pointer;
}